This is an index page

<br>
<br>

Hostname: {{ hostname }}

<br>
<br>

Database: {{ database }}

<br>
<br>

PageViews: {{ count }}

<br>
<br>

{% for key, value in env_vars.items %}
    {{ key }} : {{ value }}
    <br>
{% endfor %}
